.grid-container {
  display: grid;
  grid-template-columns: auto auto auto ;
  justify-content:center !important; 
  align-content:center;
  gap: 10px; 
  padding: 8px; 
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);  
  padding: 5px 0;  border-radius:10px;
}
.item5 {
  grid-column: 1 / span 2  !important;
  grid-row: 2 /  span 4 !important;
  height: 300px;width:400px;
  display:grid;  
  align-content:space-evenly;
  padding: 10px !important;
}
.item3{
 grid-column: 3 / span 2;
 grid-row: 1/ span 4;
  height: 300px;
  width:400px;
  display:grid;
  align-content:space-evenly;
  padding: 10px !important;
}
.item1{
  font-size:18px;
  border-radius:10px;
  background-color:#f44fdd !important;
}
.item2{
  background-color:#845ffd !important;
}
.item3{
  background-color:#677ddd !important;
}
.item4{
  background-color:#9944dd !important;
}
.item5{
  background-color:#ca55 !important;
}
.item6{
  background-color:#dd7777 !important;
}
.smh{
  display:flex;
  justify-content:space-between; 
  align-content:center !important;
  padding:5px 10px;
  margin-bottom:10px;
}
.subh{  
  display:flex;
 justify-content:flex-start;  
  flex-direction:column;
  padding:5px ; 
  
}
.icon{
  display:flex; 
  padding:5px;
}
.icon span{
  margin-left:5px;
}
h1, h3{
  margin:0px;
  padding:0px;
}
@media(max-width:768px){

.item1, .item2, .item3, .item4, .item5, .item6 {
  grid-column: 1 / span 6 !important; 
}  
 
.item3{
 grid-row:3;
  width:auto !important;
}
.item5 {
  grid-row: 4 !important;
  grid-column: 1 / span 6 !important;  width:auto !important;
}
}
